<section class="app-secreenshots">
  <div class="container">
    <div class="sec-title text-center">
      <h2>App ScreenShots</h2>
      <p>A Private Limited is the most popular type of partnership Malta. The limited liability <br /> is, in fact, the only type of company allowed by Companies.</p>
    </div><!-- /.sec-title -->
  </div><!-- /.container -->
  <div class="swiper-slider-area">
    <div class="container">
      <div class="row appScreenshotCarousel-container swiper-container">
        <div class="screen-mobile-image"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-01.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-02.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-03.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-04.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-02.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-01.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-02.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-03.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-04.png)"></div>
          <div class="swiper-slide" style="background-image:url({{site.url}}/assets/img/slider-02.png)"></div>
        </div>
        <!-- Add Arrows -->
      </div>
    </div><!-- End container -->
  </div><!-- End swiper-slider-area -->
</section><!-- /.app-secreenshots -->

<div class="separator no-border mb115 full-width"></div><!-- /.separator no-border mb135 -->
