<section class="banner-static" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-content">
          <h3>Awesome App for Your <br /> Modern Lifestyle</h3>
          <p>Increase productivity with a simple to-do app. app for <br /> managing your personal budgets.</p>
          <a href="#" class="thm-btn"><span>Download App</span></a><!--
          --><a href="#" class="thm-btn borderd"><span>Discover more</span></a>
        </div><!-- /.banner-content -->
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="banner-moc-box clearfix">
          <img src="{{site.url}}/assets/img/slider-moc-2.png" class="pull-right" />
        </div><!-- /.banner-moc-box -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.banner-static -->
