<section class="app-features" id="features">
  <div class="container">
    <div class="sec-title text-center">
      <h2>Awesome Apps Features</h2>
      <p>A Private Limited is the most popular type of partnership Malta. The limited liability <br /> is, in fact, the only type of company allowed by Companies.</p>
    </div><!-- /.sec-title -->
    <div class="app-features-carousel owl-theme owl-carousel">
      <div class="item">
        <div class="single-app-features text-center">
          <i class="flaticon-paint-palette-and-brush"></i>
          <h3>Design & Branding</h3>
          <p>We use a customized application <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
          <div class="line"></div><!-- /.line -->
        </div><!-- /.single-app-features -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-app-features text-center">
          <i class="flaticon-secure-shield"></i>
          <h3>Fully Secured</h3>
          <p>We use a customized application <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
          <div class="line"></div><!-- /.line -->
        </div><!-- /.single-app-features -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-app-features text-center">
          <i class="flaticon-cloud-computing"></i>
          <h3>Easy to Edit</h3>
          <p>We use a customized application <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
          <div class="line"></div><!-- /.line -->
        </div><!-- /.single-app-features -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-app-features text-center">
          <i class="flaticon-paint-palette-and-brush"></i>
          <h3>Design & Branding</h3>
          <p>We use a customized application <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
          <div class="line"></div><!-- /.line -->
        </div><!-- /.single-app-features -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-app-features text-center">
          <i class="flaticon-secure-shield"></i>
          <h3>Fully Secured</h3>
          <p>We use a customized application <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
          <div class="line"></div><!-- /.line -->
        </div><!-- /.single-app-features -->
      </div><!-- /.item -->
      <div class="item">
        <div class="single-app-features text-center">
          <i class="flaticon-cloud-computing"></i>
          <h3>Easy to Edit</h3>
          <p>We use a customized application <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
          <div class="line"></div><!-- /.line -->
        </div><!-- /.single-app-features -->
      </div><!-- /.item -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.app-features -->
