<section class="features-style-one">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pull-right">
        <div class="feature-style-content pt70 pl40">
          <i class="flaticon-responsive-design-symbol"></i>
          <h3>Responsive Design for All <br /> Devices with Quality</h3>
          <p>In order to design a mobile app that is going to be module <br /> downloaded and accessed frequently by users, you need <br />  offer an experience that isn’t available elsewhere. Often <br /> businesses get caught up.</p>
          <a href="#" class="more">Discover  <i class="fa fa-angle-right"></i></a>
        </div><!-- /.feature-style-content -->
      </div><!-- /.col-md-6 -->
      <div class="col-md-6 clearfix pull-left">
        <img src="{{site.url}}/assets/img/responsive-moc.png" class="pull-right" alt="" />
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.features-style-one -->

<div class="separator no-border mt135 full-width"></div><!-- /.separator no-border mt135 -->
