<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/popper.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/one-page-nav-min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/slick.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/ajax-form.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/wow.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ "></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/plugins.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/main.js"></script>

<footer class="wow fadeInUp" data-wow-delay=".3s">
    <div class="footer-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="footer-text  text-center">
                        <p>© 2018 {{ site.app_name }}. All rights reserved</p>
                    </div>
                </div>
                <div class="col-xl-4">
                </div>
                <div class="col-xl-4">
                    <div class="footer-text text-center">
                        <p><a href="{{ site.url }}/privacy-policy">Privacy</a> | <a href="{{ site.url }}/terms-of-service">Terms of Service</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
