<footer class="footer">
  <div class="subscribe-section">
    <div class="container">
      <div class="sec-title text-center">
        <h2>Subscribe to Our Newsletter</h2>
        <p>A Private Limited is the most popular type of partnership Malta. The limited liability <br /> is, in fact, the only type of company allowed by Companies.</p>
      </div><!-- /.sec-title -->
      <form action="#" class="subscribe-form clearfix">
        <div class="left-content pull-left clearfix">
          <i class="far fa-envelope"></i>
          <input type="text" placeholder="example@mail.com" />
        </div><!-- /.left-content -->
        <div class="right-content pull-right">
          <button class="thm-btn" type="submit"><span>Subscribe Now</span></button>
        </div><!-- /.right-content -->
      </form><!-- /.subscribe-form -->
    </div><!-- /.container -->
  </div><!-- /.subscribe-section -->
  <div class="footer-widget-wrapper">
    <div class="container">
      <div class="row masonary-layout">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-widget about-widget">
            <a href="index.html"><img src="{{site.url}}/assets/img/logo.png"/></a>
            <p>Be the first to find out about exclusive deals, the latest Lookbooks trends. We're on a mission to build a better future where technology.</p>
            <div class="social">
              <a href="#" class="fab fa-facebook-f"></a><!--
              --><a href="#" class="fab fa-twitter"></a><!--
              --><a href="#" class="fab fa-google-plus-g"></a><!--
              --><a href="#" class="fab fa-instagram"></a>
            </div><!-- /.social -->
          </div><!-- /.footer-widget -->
        </div><!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-widget contact-widget">
            <div class="title">
              <h3>Address</h3>
            </div><!-- /.title -->
            <p><span>Phone:</span> +1 605 722 2032</p>
            <p><span>Email:</span> example@mail.com</p>
            <p><span>Address:</span> Charlotte, North Carolina, <br /> United States</p>
          </div><!-- /.footer-widget -->
        </div><!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-widget links-widget">
            <div class="title">
              <h3>Quick Links</h3>
            </div><!-- /.title -->
            <ul class="list-inline link-list">
              <li><a href="#">What is ICO</a></li><!--
              --><li><a href="#">ICO Apps</a></li><!--
              --><li><a href="#">Join Us</a></li><!--
              --><li><a href="#">Tokens</a></li><!--
              --><li><a href="#">Clients</a></li><!--
              --><li><a href="#">Whitepaper</a></li><!--
              --><li><a href="#">Contact</a></li><!--
              --><li><a href="#">Roadmap</a></li><!--
              --><li><a href="#">Teams</a></li><!--
              --><li><a href="#">FAQ</a></li>
            </ul><!-- /.link-list -->
          </div><!-- /.footer-widget -->
        </div><!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-widget tweets-widget">
            <div class="title">
              <h3>Tweets</h3>
            </div><!-- /.title -->
            <div class="tweets-carousel owl-theme owl-carousel">
              <div class="item">
                <div class="single-tweet">
                  <p><i class="fab fa-twitter"></i>Lorem ipsum dolor sit amet, con sectetur adipiscing elit, sed do eius mod tempor incididunt.</p>
                  <a href="#">@JohnDoe</a>
                </div><!-- /.single-tweet -->
              </div><!-- /.item -->
              <div class="item">
                <div class="single-tweet">
                  <p><i class="fab fa-twitter"></i>Lorem ipsum dolor sit amet, con sectetur adipiscing elit, sed do eius mod tempor incididunt.</p>
                  <a href="#">@JohnDoe</a>
                </div><!-- /.single-tweet -->
              </div><!-- /.item -->
              <div class="item">
                <div class="single-tweet">
                  <p><i class="fab fa-twitter"></i>Lorem ipsum dolor sit amet, con sectetur adipiscing elit, sed do eius mod tempor incididunt.</p>
                  <a href="#">@JohnDoe</a>
                </div><!-- /.single-tweet -->
              </div><!-- /.item -->
              <div class="item">
                <div class="single-tweet">
                  <p><i class="fab fa-twitter"></i>Lorem ipsum dolor sit amet, con sectetur adipiscing elit, sed do eius mod tempor incididunt.</p>
                  <a href="#">@JohnDoe</a>
                </div><!-- /.single-tweet -->
              </div><!-- /.item -->
            </div><!-- /.tweets-carousel -->
          </div><!-- /.footer-widget -->
        </div><!-- /.col-md-3 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.footer-widget-wrapper -->
  <div class="footer-bottom">
    <div class="container">
      <div class="pull-left left-content">
        <p>© 2018, appilo Theme by Themexriver Team <span class="sep">|</span> <a href="#">Privacy Policy</a> <span class="sep">|</span> <a href="#">Sitemap</a></p>
      </div><!-- /.pull-left left-content -->
      <div class="pull-right right-content">
        <p>All Rights Reserved.</p>
      </div><!-- /.pull-right -->
    </div><!-- /.container -->
  </div><!-- /.footer-bottom -->
</footer><!-- /.footer -->

<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fas fa-angle-up"></span></div>



<script type="text/javascript" src="{{site.url}}/assets/js/jquery.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/isotope.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/wow.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/swiper.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/custom.js"></script>
