<div class="fun-fact">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="single-fun-fact">
          <p><span class="counter">1,265</span> Users</p>
        </div><!-- /.single-fun-fact -->
      </div><!-- /.col-md-3 -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="single-fun-fact">
          <p><span class="counter">1,000</span> Download</p>
        </div><!-- /.single-fun-fact -->
      </div><!-- /.col-md-3 -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="single-fun-fact">
          <p><span class="counter">508</span> Likes</p>
        </div><!-- /.single-fun-fact -->
      </div><!-- /.col-md-3 -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="single-fun-fact">
          <p><span class="counter">809</span> 5 star Rating</p>
        </div><!-- /.single-fun-fact -->
      </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="separator"></div><!-- /.separator -->
</div><!-- /.fun-fact -->
