<section class="how-app-work-section" id="how-it-works">
  <div class="container">

    <div class="row">
      <div class="col-md-6 how-app-work-slider-content">
        <img src="{{site.url}}/assets/img/circle.png" class="circled-img"/>
        <div class="how-app-work-slider-wrapper">
          <div class="how-app-work-screen-mobile-image"></div>
          <!--Slider-->
          <ul class="slider">
                  <li class="slide-item">
                    <img src="{{site.url}}/assets/img/how-we-work-slide-1.png"/>
                  </li>
                  <li class="slide-item">
                    <img src="{{site.url}}/assets/img/how-we-work-slide-2.png"/>
                  </li>
                  <li class="slide-item">
                    <img src="{{site.url}}/assets/img/how-we-work-slide-4.png"/>
                  </li>
              </ul>
        </div><!-- /.how-app-work-slider-wrapper -->

      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="how-app-work-content-wrap">
          <div class="title">
            <h3>How does this App Work?</h3>
          </div><!-- /.title -->
          <div class="how-app-work-content" id="how-app-work-slider-pager">
            <a href="#" class="pager-item active" data-slide-index="0"><div class="single-how-app-work ">
              <div class="icon-box">
                <div class="inner">
                  <i class="flaticon-responsive-design-symbol"></i>
                </div><!-- /.inner -->
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h4>Make a Profile</h4>
                <p>We use a customized application tobe <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
              </div><!-- /.text-box -->
            </div></a><!-- /.single-how-app-work -->
            <a href="#" class="pager-item" data-slide-index="1"><div class="single-how-app-work">
              <div class="icon-box">
                <div class="inner">
                  <i class="flaticon-cloud-computing"></i>
                </div><!-- /.inner -->
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h4>Download it for Free</h4>
                <p>We use a customized application tobe <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
              </div><!-- /.text-box -->
            </div></a><!-- /.single-how-app-work -->
            <a href="#" class="pager-item" data-slide-index="2"><div class="single-how-app-work ">
              <div class="icon-box">
                <div class="inner">
                  <i class="flaticon-quality"></i>
                </div><!-- /.inner -->
              </div><!-- /.icon-box -->
              <div class="text-box">
                <h4>Enjoy this App</h4>
                <p>We use a customized application tobe <br /> specifically designed a testing gnose <br /> to keep away for people.</p>
              </div><!-- /.text-box -->
            </div></a><!-- /.single-how-app-work -->
          </div><!-- /.how-app-work-content -->
          <a href="#" class="download-btn active">
            <i class="fab fa-apple"></i>
            <span class="inner"> <span class="avail">Available on</span> <span class="store-name">App Store</span></span>
          </a>
          <a href="#" class="download-btn">
            <i class="fab fa-google-play"></i>
            <span class="inner"><span class="avail">Available on</span> <span class="store-name">Google play</span></span>
          </a>
        </div><!-- /.how-app-work-content-wrap -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.how-app-work-section -->
