<section class="intigration-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="intigration-content">
          <h3>Designed & Worked <br /> by the Latest Integration</h3>
          <p>A Private Limited is the most popular type of partnership <br /> Malta. The limited liabilityis, in fact, the only type of the <br /> company allowed by Companies.</p>
          <a href="#" class="more">All integration <i class="fa fa-angle-right"></i></a>
        </div><!-- /.intigration-content -->
      </div><!-- /.col-md-5 -->
      <div class="col-md-7">
        <div class="intigration-img-box text-right">
          <img src="{{site.url}}/assets/img/intigration-1-1.png"/>
          <img src="{{site.url}}/assets/img/intigration-1-2.png"/>
          <img src="{{site.url}}/assets/img/intigration-1-3.png"/>
          <img src="{{site.url}}/assets/img/intigration-1-4.png"/>
          <img src="{{site.url}}/assets/img/intigration-1-5.png"/>
        </div><!-- /.intigration-img-box -->
      </div><!-- /.col-md-7 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.intigration-section -->

<div class="separator no-border mb135 full-width"></div><!-- /.separator no-border mb135 -->
