<header class="header home-page-one">
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="{{site.url}}/assets/img/logo.png" class="default-logo" />
                    <img src="{{site.url}}/assets/img/logo-2.png" class="stick-logo" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu one-page-scroll-menu" id="main-nav-bar">

                <ul class="nav navbar-nav navigation-box">
                    <li class="scrollToLink current"> <a href="#banner">Home</a> </li>
                    <li class="scrollToLink"> <a href="#features">Features</a> </li>
                    <li class="scrollToLink"> <a href="#how-it-works">How It Works</a> </li>
                    <li class="scrollToLink"> <a href="#pricing">Pricing</a> </li>
                    <li class="scrollToLink">
                      <a href="#blog">Blog</a>
                      <ul class="sub-menu">
                        <li><a href="blog.html">Blog Listing</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                      </ul><!-- /.sub-menu -->
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div><!-- /.container -->
    </nav>
</header><!-- /.header -->
