<section class="testimonials-style-one">
  <div class="container">
    <!-- <img src="{{site.url}}/assets/img/testimonials-bg.png" class="testi-thumb" alt="" /> -->
    <div class="title">
      <div class="row">
        <div class="col-md-5"></div><!-- /.col-md-5 -->
        <div class="col-md-7">
          <h3>Some Talk of Our <br /> Honorable Clients</h3>
        </div><!-- /.col-md-7 -->
      </div><!-- /.row -->
    </div><!-- /.title -->
    <div id="testimonials-slider-pager">
      <a href="#" class="pager-item active" data-slide-index="0"><img src="{{site.url}}/assets/img/testi-thumb-1-1.png"/></a>
      <a href="#" class="pager-item" data-slide-index="1"><img src="{{site.url}}/assets/img/testi-thumb-1-2.png"/></a>
      <a href="#" class="pager-item" data-slide-index="2"><img src="{{site.url}}/assets/img/testi-thumb-1-3.png"/></a>
      <a href="#" class="pager-item" data-slide-index="3"><img src="{{site.url}}/assets/img/testi-thumb-1-4.png"/></a>
      <a href="#" class="pager-item" data-slide-index="4"><img src="{{site.url}}/assets/img/testi-thumb-1-5.png"/></a>
      <a href="#" class="pager-item" data-slide-index="5"><img src="{{site.url}}/assets/img/testi-thumb-1-6.png"/></a>
    </div><!-- /#testimonials-slider-pager -->
    <div class="testimonials-slider">
      <!--Slider-->
      <ul class="slider">
              <li class="slide-item">
                <div class="single-testimonial">
            <div class="img-box">
              <img src="{{site.url}}/assets/img/testi-1-1.png"/>
            </div><!-- /.img-box -->
            <div class="text-box">
              <img src="{{site.url}}/assets/img/testi-qoute.png"/>
              <p>The number of ICOs being launched is increasing every day. The right team can help your ICO stand out from the crowd. We're that team.</p>
              <h3>Kyong Bacco</h3>
              <span>CEO</span>
            </div><!-- /.text-box -->
          </div><!-- /.single-testimonial -->
              </li>
              <li class="slide-item">
                <div class="single-testimonial">
            <div class="img-box">
              <img src="{{site.url}}/assets/img/testi-1-2.png"/>
            </div><!-- /.img-box -->
            <div class="text-box">
              <img src="{{site.url}}/assets/img/testi-qoute.png"/>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia rerum molestias magnam libero in doloremque minus quis molestiae amet sequi.</p>
              <h3>Stacy Fouty</h3>
              <span>CEO</span>
            </div><!-- /.text-box -->
          </div><!-- /.single-testimonial -->
              </li>
              <li class="slide-item">
                <div class="single-testimonial">
            <div class="img-box">
              <img src="{{site.url}}/assets/img/testi-1-3.png"/>
            </div><!-- /.img-box -->
            <div class="text-box">
              <img src="{{site.url}}/assets/img/testi-qoute.png"/>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero hic, numquam accusantium. Ad obcaecati dicta animi dolorem natus consequatur ipsam.</p>
              <h3>Tameika Norling</h3>
              <span>CEO</span>
            </div><!-- /.text-box -->
          </div><!-- /.single-testimonial -->
              </li>
              <li class="slide-item">
                <div class="single-testimonial">
            <div class="img-box">
              <img src="{{site.url}}/assets/img/testi-1-4.png"/>
            </div><!-- /.img-box -->
            <div class="text-box">
              <img src="{{site.url}}/assets/img/testi-qoute.png"/>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo voluptate culpa velit, aut temporibus odio! Fugiat molestiae odit, dolores ab!</p>
              <h3>Federico Guitreau</h3>
              <span>CEO</span>
            </div><!-- /.text-box -->
          </div><!-- /.single-testimonial -->
              </li>
              <li class="slide-item">
                <div class="single-testimonial">
            <div class="img-box">
              <img src="{{site.url}}/assets/img/testi-1-1.png"/>
            </div><!-- /.img-box -->
            <div class="text-box">
              <img src="{{site.url}}/assets/img/testi-qoute.png"/>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia expedita itaque repellendus officiis eligendi fugit animi obcaecati quis quam illo?</p>
              <h3>Clemmie Berner</h3>
              <span>CEO</span>
            </div><!-- /.text-box -->
          </div><!-- /.single-testimonial -->
              </li>
              <li class="slide-item">
                <div class="single-testimonial">
            <div class="img-box">
              <img src="{{site.url}}/assets/img/testi-1-2.png"/>
            </div><!-- /.img-box -->
            <div class="text-box">
              <img src="{{site.url}}/assets/img/testi-qoute.png"/>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis est dignissimos ab et praesentium repudiandae quaerat, provident expedita?</p>
              <h3>Teri Clausing</h3>
              <span>CEO</span>
            </div><!-- /.text-box -->
          </div><!-- /.single-testimonial -->
              </li>
          </ul>
    </div><!-- /.testimonials-slider -->
  </div><!-- /.container -->
</section><!-- /.testimonials-style-one -->

<div class="separator no-border mb135 full-width"></div><!-- /.separator no-border mb135 -->
