<!DOCTYPE html>
<html class="no-js">
  {% include head.html %}
  <body>


    <div class="preloader"><div class="spinner"></div></div><!-- /.preloader -->

    {% include nav.html %}
    {% include banner.html %}
    {% include funfact.html %}
    {% include features.html %}
    {% include how_it_works.html %}

    {% include feature_text_right.html %}
    {% include feature_text_left.html %}
    {% include feature_text_right.html %}
    {% include feature_text_left.html %}

    {% include video.html %}
    {% include app_screenshots.html %}
    {% include intigration.html %}
    {% include pricing.html %}
    {% include testimonials.html %}
    {% include blogs.html %}

    {% include footer.html %}
  </body>
</html>
